<div fxLayout="row" fxLayoutAlign="space-around center">
    <mat-form-field>
        <mat-label>Description</mat-label>
        <input fxLayout matInput type="text" placeholder="Counter" />
    </mat-form-field>

    <mat-form-field>
        <mat-label>Alarm Time</mat-label>
        <input fxLayout matInput type="datetime-local" step="1" [ngModel]="targetTime | date:'yyyy-MM-ddTHH:mm'"
            (ngModelChange)="timeChanged($event)" />
    </mat-form-field>

    <mat-form-field>
        <mat-label>Countdown</mat-label>
        <input fxLayout matInput type="text" value="{{countDown | formatTime}}" [readonly]="true"
            [ngStyle]="{'background-color': colors[alarm]}" />
    </mat-form-field>
</div>