<mat-sidenav-container fxFlex>
    <div fxLayout="column" fxLayoutGap="20px">

        <div fxLayoutAlign="center" fxpa>
            <div class="timer">
                <h4>Current Time</h4>
                <span>{{currentTime | date:'dd.MM.yyyy HH:mm:ss:S'}}</span>
            </div>
        </div>

        <mat-divider></mat-divider>

        <div fxLayout="row" *ngFor="let counter of counters" fxLayout="row" fxLayoutAlign="center" fxLayoutGap="5px">
            <app-count-down> </app-count-down>
            <button mat-icon-button (click)="removeCounter(counter)">
                <mat-icon>delete</mat-icon>
            </button>
        </div>

        <div fxLayoutAlign="center" fxLayoutGap="20px">
            <button mat-fab (click)="addCounter()">
                <mat-icon>add</mat-icon>
            </button>
        </div>

    </div>

</mat-sidenav-container>