<mat-sidenav-container fxFlex>
    
        <div fxLayoutAlign="space-around center">
            <div class="timer">
                <h4>Current Time</h4>
                <span>{{currentTime | date:'dd.MM.yyyy hh:mm:ss:S'}}</span>
            </div>
        </div>

        <div>
            <button mat-fab (click)="addCounter()">
                <mat-icon>add</mat-icon>
            </button>
            <button mat-fab (click)="removeCounter()">
                <mat-icon>delete</mat-icon>
            </button>
        </div>

        <app-count-down *ngFor="let i of Arr(counters).fill(1)"> </app-count-down>

</mat-sidenav-container>

