<mat-sidenav-container fxFlex>
    <div fxLayout="column" fxLayoutGap="20px">

        <div fxLayoutAlign="center" fxpa>
            <div class="timer">
                <h4>Current Time</h4>
                <span>{{currentTime | date:'dd.MM.yyyy HH:mm:ss:S'}}</span>
            </div>
        </div>

        <mat-divider></mat-divider>
    
        <div fxLayoutAlign="center" fxLayoutGap="20px">
            <button mat-fab (click)="addCounter()">
                <mat-icon>add</mat-icon>
            </button>
            <button mat-fab (click)="removeCounter()">
                <mat-icon>delete</mat-icon>
            </button>
        </div>

        <mat-divider></mat-divider>
    
        <app-count-down *ngFor="let i of Arr(counters).fill(1)"> </app-count-down>

    </div>

</mat-sidenav-container>